* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  position: relative;
}

:root {
  --main-font: 'Staatliches', cursive;
  --secondary-font: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  ;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hundo {
  width: 100%;
  height: 95%;
}

header {
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header-text h1, .product-name, .your-cart, .main-font {
  font-family: var(--main-font);
}

.header-text p, .product-price, .secondary-font {
  font-family: var(--secondary-font);
}

.header-text, .carousel-img, .delete, .cursor-pointer {
  cursor: pointer;
}

.header-text h1 {
  margin: 0;
  line-height: 0.9em;
}

.header-text p {
  margin: 0;
  line-height: 0.9em;
}

.cart-icon {
  font-size: 1.3em;
}

.cart-count {
  background-color: gray;
  color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  top: 0px;
  right: -12px;
  z-index: 1;
}

.logo {
  max-width: 40px;
  height: auto;
}

.product-img {
  object-fit: contain;
  width: 250px;
  height: 250px;
  justify-self: center;
}

.product-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  grid-gap: 10px;
}

.product-card {
  display: grid;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 100ms ease-in;
}

.product-card:hover {
  transform: scale(0.96, 0.96);
}

.mt-53 {
  margin-top: 53px;
}

.mt-80 {
  margin-top: 80px;
}

.banner-img {
  object-fit: cover;
  height: auto;
  min-height: 400px;
  max-height: 1100px;
  width: 100%;
}

.banner-text-container {
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: var(--main-font);
  background-color: rgba(0, 0, 0, 0.4);
  height: 50%;
  max-height: 300px;
}

.banner-text p:nth-child(1) {
  font-size: 40px;
}

.banner-text p:nth-child(2) {
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  .banner-text p:nth-child(1) {
    font-size: 3.5vw;
  }
  .banner-text p:nth-child(2) {
    font-size: 2vw;
  }
}

.nav-menu {
  width: 30%;
  min-width: 170px;
  max-width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 250ms ease-in-out;
  z-index: 3;
}

.nav-menu.active {
  left: 0;
  z-index: 3;
}

.nav-icon {
  font-size: 2.2rem;
  cursor: pointer;
}

.nav-arrow {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.justify-self-end {
  justify-self: end;
}

.nav-ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.nav-ul h1 {
  font-family: var(--main-font);
  font-size: 2.5rem;
}

.nav-ul li {
  border-bottom: 1px solid black;
  font-family: var(--secondary-font);
  font-size: 2rem;
  cursor: pointer;
}

.nav-ul li:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 850px) {
  .nav-ul h1 {
    font-family: var(--main-font);
    font-size: 2rem;
  }
  .nav-ul li {
    border-bottom: 1px solid black;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
  }
}

.block {
  transition: all 100ms ease-in;
  position: relative;
}

.shade {
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.shade.active {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url(/images/transparent-bg.png);
  background-repeat: round;
}

.spacer {
  height: 70px;
  width: 100%;
}

.directory * {
  display: inline;
}

.directory u:nth-child(odd) {
  cursor: pointer;
}

.product-long-desc {
  width: 95%;
}

.justify-self-center {
  justify-self: center;
}

.product-name h1 {
  font-size: 36px;
}

.fade-next-appear {
  opacity: 0;
  transform: translate(-10px, 0);
}

.fade-next-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease;
}

.fade-next-enter {
  opacity: 0;
  transform: translate(-10px, 0);
}

.fade-next-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease;
}

.fade-next-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-next-exit-active {
  opacity: 0;
  transform: translate(-10px, 0);
  transition: all 500ms ease;
}

.fade-next-exit-done {
  opacity: 0;
}

.fade-back-appear {
  opacity: 0;
  transform: translate(10px, 0);
}

.fade-back-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease;
}

.fade-back-enter {
  opacity: 0;
  transform: translate(10px, 0);
}

.fade-back-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease;
}

.fade-back-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-back-exit-active {
  opacity: 0;
  transform: translate(10px, 0);
  transition: all 500ms ease;
}

.fade-back-exit-done {
  opacity: 0;
}

.cart-btn {
  background-color: black;
  color: white;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.cart-menu {
  width: 50%;
  min-width: 210px;
  max-width: 375px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: -100%;
  transition: all 250ms ease-in-out;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart-menu.active {
  right: 0;
  z-index: 2;
}

.your-cart {
  font-size: 2.5rem;
}

.cart-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

.cart-info {
  font-family: var(--secondary-font);
}

@media screen and (min-width: 800px) {
  .cart-info {
    font-size: 1.2rem;
  }
}

.checkout-btn {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border-style: none;
  font-family: var(--main-font);
  width: 70%;
  border-radius: 10px;
  margin: 10px 0 0 5px;
  transition: background-color 150ms ease-in-out;
}

.submit {
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-family: var(--main-font);
  border-style: none;
  border-radius: 10px;
  width: 70%;
  max-width: 300px;
  padding: 7px;
  min-width: 150px;
  margin-top: 20px;
  transition: background-color 150ms ease-in-out;
}

.continue-shopping-btn {
  background-color: black;
  max-width: 500px;
  color: white;
  border-style: none;
  font-family: var(--main-font);
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 150ms ease-in-out;
}

.checkout-btn:hover, .submit:hover, .continue-shopping-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.cart-total {
  font-family: var(--secondary-font);
  margin: 10px 0 0 10px;
  font-size: 1.2rem;
}

.cart-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.cart-item-border {
  border-top: 1px rgba(0, 0, 0, 0.3) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.205) solid;
}

.carousel-img {
  width: 40px;
  height: auto;
  object-fit: contain;
}

.carousel-img.active {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.shipping-info-wrapper {
  justify-content: space-between;
}

.shipping-info {
  height: 100vh;
  width: 100%;
}

.shipping-address {
  width: 90%;
}

.shipping-cart {
  background-color: #797979;
  height: 100vh;
  width: 40%;
  max-width: 900px;
  position: fixed;
  right: 0;
  top: 53px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: -5px 2px 9px 0px #B2B2B2;
}

.shipping-input {
  width: 60%;
  min-width: 150px;
  border: 2px solid black;
  border-radius: 10px;
}

.back-to-shopping {
  align-self: baseline;
}

.line {
  height: 1px;
  width: 0;
  background-color: black;
  transition: width 200ms ease-in-out;
}

.line.active {
  width: 100%;
}

.shipping-hr {
  width: 70%;
  max-width: 200px;
}

.shipping-cart-items-wrapper {
  height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-height: 700px) {
  .shipping-cart-items-wrapper {
    height: 75%;
  }
}

.cart-img-wrapper {
  width: 80px;
  height: 80px;
  justify-self: center;
  align-self: center;
}

.w-85 {
  width: 85%;
}

.contact-info {
  width: 50%;
  min-width: 300px;
  border: 1px black solid;
}

.contact-info>*>p:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
}

.border-bottom-checkout {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25)
}

.width-fit-content {
  width: fit-content;
}

@media screen and (max-width: 575px) {
  .shipping-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shipping-input {
    width: 100%;
  }
  .shipping-info-wrapper {
    justify-content: center;
  }
  .shipping-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .shipping-address {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .shipping-cart {
    display: none;
  }
  .payment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-info {
    width: 90%;
    min-width: 250px;
  }
}

footer {
  background-color: black;
  color: white;
  height: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo-text p {
  margin-bottom: 0;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

.logo-img {
  width: 100%;
  min-width: 40px;
  height: 100%;
  object-fit: contain;
}

.sm-imgs img {
  width: 40px;
  height: 40px;
  margin: 2.5px;
  transition: transform 100ms ease-in
}

.sm-imgs img:hover {
  transform: translate(0px, -5px);
}

p a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 575px) {
  footer>div {
    margin-left: 25px;
  }
  .ReactModal__Content {
    width: 100%;
  }
}

.ReactModal__Overlay {
  z-index: 3;
}

@media screen and (max-width: 450px) {
  .nav-menu {
    width: 100%;
    max-width: initial;
  }
  .nav-menu * {
    text-align: center;
  }
  .nav-arrow {
    display: initial;
  }
  .categories-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 1fr 0.3fr;
  }
}

.modal-img-grid {
  display: grid;
  grid-template-columns: 0.1fr 1.8fr 0.1fr;
}

.modal-img-grid i {
  font-size: 3.2rem;
  align-self: center;
  justify-self: center;
}

.modal-img-grid i,
.modal-info-grid i {
  transition: color 200ms ease-in-out;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.modal-img-grid i:hover,
.modal-info-grid i:hover {
  color: rgba(0, 0, 0, 0.5);
}

.modal-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 97%;
  justify-self: center;
}

@media screen and (max-width: 450px) {
  .modal-img-grid i {
    font-size: 2rem;
  }
}

#zoom-modal img {
  width: 100%;
  max-width: 1080px;
  justify-self: center;
  height: auto;
  object-fit: contain;
  z-index: -1;
  user-select: none;
}

@media screen and (max-height: 500px) {
  #zoom-modal img {
    width: 45%;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.zoom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.zoom-overlay:hover {
  opacity: 1;
}

.zoom-icon {
  position: absolute;
  top: 0;
  left: 0;
}
